<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">

                    <form novalidate
                          (ngSubmit)="signUp()"
                          [formGroup]="loginForm">
                        <fieldset>
                            <div class="form-group">
                                <div class="alert alert-dismissible alert-warning" [hidden]="isRedirected">
                                    <h3>Access denied</h3>
                                    <p>Please, fill out your credentials in order to be redirected to the requested page</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': displayMessage.email }">
                                    <input class="form-control"
                                           type="email"
                                           placeholder="Email"
                                           formControlName="email" />
                                    <span class="help-block" *ngIf="displayMessage.email">
                                        {{displayMessage.email}}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': displayMessage.password }">
                                    <input class="form-control"
                                           type="password"
                                           placeholder="Password"
                                           formControlName="password" />
                                    <span class="help-block" *ngIf="displayMessage.password">
                                        {{displayMessage.password}}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>

                            </div>
                            <div class="form-group">
                                <a class="btn btn-link" ui-sref="forgotpw">Forgot Password?</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>